.body {
  width: 350px;
  background-color: #f9f9f9;
  margin-top: -20px;
}
.box {
  background-color: red;
  border-radius: 10px;
  color: white;
  width: 75px;
  height: 100px;
  text-align: center;
  margin-left: 10px;
}
.inputk {
  min-height: 30px;
  width: 335px;
  border-color: #282d2e;
  border-radius: 15px;
  margin: auto;
  margin-left: 5px;
  border-width: 3px;
}
.h1 {
  font-size: 34px;
}
label {
  font-weight: 500;
}
.run_button {
  height: 40px;
  width: 100px;
  outline: none;
  background-color: blue;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  margin-left: 100px;
  margin-bottom: 5px;
}

.heading {
  padding-top: 11px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 1px;
  font-size: 34px;
  color: red;
}
.ad {
  padding-top: 2px;
  text-align: center;
  padding-bottom: 1px;
}
.heading1 {
  padding-top: 25px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 2px;
  font-size: 20px;
  color: white;
}
/* .head_div{
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,9,255,1) 0%, rgba(14,175,241,1) 55%);
            border-width: 2px;
            border-color: black;
          } */
.stop_button {
  height: 40px;
  width: 100px;
  outline: none;
  background-color: red;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  margin-left: 100px;
  margin-bottom: 5px;
}
.democlass {
  height: 40px;
  width: 100px;
  outline: none;
  background-color: green;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  margin-left: 100px;
}
.input {
  padding-left: 5px;
  padding-bottom: 55px;
  height: 30px;
  width: 340px;
  border-color: #282d2e;
  border-radius: 15px;
  margin-bottom: 5px;
  border-width: 3px;
}
.choose {
  padding-top: 5px;
  padding-left: 5px;
  height: 40px;
  width: 340px;
  border-color: #282d2e;
  border-radius: 15px;
  margin-bottom: 5px;
  border-width: 3px;
}
.msglistbtn {
  padding-bottom: 10px;
  padding-left: 12px;
}
#msglist {
  width: 325px;
}
.button {
  padding-left: 11px;
}
#start {
  width: 325px;
  margin-bottom: 5px;
}
#savewebhook {
  width: 325px;
  margin-top: 10px;
  margin-left: 6px;
}
#setupea {
  width: 325px;
  margin-bottom: 5px;
}
#eaback {
  width: 325px;
  margin-bottom: 5px;
}
#hooktrig {
  width: 325px;
  margin-bottom: 5px;
}
#ext-links {
  width: 325px;
  margin-bottom: 5px;
  background-color: grey;
  color: white;
}
#ext-links:hover {
  background-color: #4d4d52;
}
#saveset {
  width: 325px;
  margin-bottom: 5px;
}
#clear {
  width: 325px;
  margin-bottom: 5px;
}
li.msgs:hover {
  background-color: grey;
  color: white;
}
a#upgrade:hover {
  background-color: #124e73;
}
a#setting:hover {
  background-color: #4d4d52;
}
.mlbutton {
  padding-left: 12px;
}
#mladd {
  width: 160px;
}
#mlback {
  width: 160px;
}
#run {
  width: 160px;
}
#stop {
  width: 160px;
}
#setback {
  width: 160px;
}
#setsave {
  width: 160px;
}
#upgback {
  margin-top: 5px;
  width: 325px;
}
.msgbtnlist {
  width: 319px;
  margin: 5px;
}
.button2 {
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 5px;
}
.button3 {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
.button4 {
  padding-bottom: 5px;
  text-align: center;
}
#activate {
  margin-top: 20px;
  width: 325px;
  margin-left: -1px;
}
#backsignin {
  margin-top: 5px;
  width: 325px;
  margin-left: -1px;
}
#signup {
  margin-top: 5px;
  width: 325px;
  margin-left: -1px;
}
#signoutbox {
  width: 325px;
  margin-top: 5px;
  margin-left: -1px;
}
#cresignup {
  margin-top: 5px;
  width: 325px;
  margin-left: -1px;
}
#upgrade {
  background-color: #196382;
  width: 325px;
}
#upgradegg {
  background-color: #196382;
  width: 325px;
  margin-bottom: 5px;
}
#upgradegg:hover {
  background-color: #195382;
}
#linkback {
  margin-top: 5px;
  width: 325px;
}
#setting {
  background-color: grey;
  color: white;
  width: 160px;
}
.label {
  color: black;
  font-weight: bolder;
  font-size: 14px;
}
#time-delay {
  height: 39px;
  width: 306px;
  margin-bottom: 5px;
  border-color: grey;
  border-radius: 15px;
  font-weight: bolder;
  border-color: #282d2e;
  border-width: 3px;
}
.show {
  background-color: #ff7064;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.status {
  background-color: #70fa64;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.done {
  background-color: #2f0ffc;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.list_div {
  padding-left: 10px;
  padding-right: 10px;
}
.removeads_button {
  height: 40px;
  width: 100px;
  outline: none;
  background-color: orange;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  margin-left: 100px;
}
.removing_button {
  height: 40px;
  width: 100px;
  outline: none;
  background-color: grey;
  font-weight: bolder;
  color: white;
  border-radius: 15px;
  margin-left: 100px;
}
